	<footer id="footer">
		{{ widgets:area slug="footer" }}
		
		<ul class="ul_horizontal">
			{{ navigation:links group="footer" link-class="bright_brown_text"}}
<!--
			<li class="li_horizontal"><a class="bright_brown_text" href="/">Home</a>
			</li>
			<li class="li_horizontal"><a class="bright_brown_text" href="/about">About</a>
			</li>			
			<li class="li_horizontal"><a class="bright_brown_text" href="mailto:info@dlineup.net">Contact us</a>
			</li>			
			<li class="li_horizontal"><a class="bright_brown_text" href="/terms">Terms & Privacy</a>
			</li>			
-->

		</ul>
		
	</footer>
	
	</div>
	<!-- /container -->

  	<!-- JavaScript at the bottom for fast page loading -->

  	<!-- Scripts -->
  	{{ theme:js file="plugins.js" }}
  	{{ theme:js file="script.js" }}
  	{{ theme:js file="interactions.js" }}
  	<!-- End Scripts -->

  	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  	<!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  	<![endif]-->
  
</body>
</html>