	<menu class="event_right_menu">
		<!--<ul>
			{{ navigation:links group="sidebar" }}
		</ul>
		-->	
		<!--
		- You can modify these social links to suit. 
		- Add your username and links, add or remove items.
		-->
		<div id="ul_mobile_container">
		<ul id="ul_left_mobile">
			{{ navigation:links group="header" }}
			<li class="li_horizontal"><a class="tooltip-n" href="http://twitter.com/dlineup" title="Dlineup on Twitter" target="_blank" style="witdh=35px;">{{ theme:image id="twitter_logo" file="twitter.png" alt="twitter" }}</a>
			</li>	
						
			<li class="li_horizontal"><a class="tooltip-n" href="#" title="Dlineup on Facebook" target="_blank">{{ theme:image id="facebook_logo" file="facebook.png" alt="facebook"}}</a>
			</li>

		</ul>	
		
		<ul id="ul_right_mobile">
			<li class="menu_item" 	id="newsletter_menu">Newsletter
			</li>
			<li>
				<form id="signup" action="index.html" method="get">
				    <input type="hidden" name="ajax" value="true" />
<!--
				    <input type="email" name="email" id="email" class="textinput" value="" placeholder="Email"/>
				    <input type="text" name="fname" id="fname" class="textinput" value="" placeholder="Name"/>
-->
				    <input type="email" name="email" id="email_input" class="textinput" value="" placeholder="Email"/>
				    <input type="text" name="fname" id="name_input" class="textinput" value="" placeholder="Name"/>

   				    <input type="submit" id="SendButton" name="submit" class="textinput" value="Submit" />

				    <!-- Last Name: <input type="text" name="lname" id="lname" class="textinput" value="" /> -->

		<!--
				    HTML: <input type="radio" name="emailtype" value="html" checked="checked">
				    Text: <input type="radio" name="emailtype" value="text">
		-->
				</form>
				<div id="message"></div>
			</li>
		</ul>
		
		</div>
		<script src="jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(document).ready(function() {
		    $('#signup').submit(function() {
		        $("#message").html("<span class='error'>Adding your email address...</span>");
		        $.ajax({
			        type: 'POST',
		            url: '<?php echo base_url()."newsletter/subscribe/";?>', // proper url to your "store-address.php" file
		            data: $('#signup').serialize(),
		            success: function(msg) {
		                $('#message').html(msg);
		            }
		        });
		        return false;
		    });
		    
		    //Fixing placeholder for non HTML5 browsers
		    if(!Modernizr.input.placeholder){

			    $("input").each(
			    	//console.log("BROWSER NON HTML5");
			    	function(){
				    	var inputField = $(this);
				    	if(inputField.val()=="" && inputField.attr("placeholder")!=""){

					    	inputField.val(inputField.attr("placeholder"));

					    	inputField.focus(function(){
						    	if(inputField.val()==inputField.attr("placeholder")){ inputField.val(""); }
						    });

						    inputField.blur(function(){
							    if(inputField.val()==""){ 
							    	inputField.val(inputField.attr("placeholder")); 
							    }
							});
						}
					});
				}
		});
		</script>
		{{ widgets:area slug="sidebar" }}
	</menu>