	<nav class="event_right_menu">
		<ul>
			<li>
				<ul>
				<li class="li_horizontal"><a class="tooltip-n" href="http://twitter.com/dlineup" title="Dlineup on Twitter" target="_blank" style="witdh=35px;">{{ theme:image id="twitter_logo" file="./menu_icons/twitter.png" alt="twitter" }}</a>
				</li>	
							
				<li class="li_horizontal"><a class="tooltip-n" href="#" title="Dlineup on Facebook" target="_blank">{{ theme:image id="facebook_menu_icon" file="./menu_icons/facebook.png" alt="facebook"}}</a>
				</li>		
				<li class="li_horizontal"><a class="tooltip-n" href="#" title="Dlineup Calendar" target="_blank">{{ theme:image id="calendar_menu_icon" file="./menu_icons/calendar.png" alt="calendar"}}</a>
				</li>		
				<li class="li_horizontal"><a class="tooltip-n" href="#" title="Contact Us" target="_blank">{{ theme:image id="mail_menu_icon" file="./menu_icons/email.png" alt="email"}}</a>
				</li>		
				</ul>
			</li>	
			{{ navigation:links group="header" }}
			<li class="menu_item" id="newsletter_label"><a>Newsletter</a>
			</li>
			<li>
<!-- 				<div id="newsletter_menu_box"> -->
					<form id="signup" action="index.html" method="get">
					
						<input type="hidden" name="ajax" value="true"/>
	<!--
					    <input type="email" name="email" id="email" class="textinput" value="" placeholder="Email"/>
					    <input type="text" name="fname" id="fname" class="textinput" value="" placeholder="Name"/>
	-->
					    <a class='tooltip-error-e' id="newsletter_name_error" title=''><input type="text" required size="15" maxlength="100" name="newsletter_name" id="name_input" class="textinput" value="" placeholder="Name"/></a>
						<a class='tooltip-error-e' id="newsletter_email_error" title=''><input type="email" required size="15" maxlength="30" name="newsletter_email" id="email_input" class="textinput" value="" placeholder="Email"/></a>
	
	   				    <input type="submit" id="SendButton" name="submit" class="textinput" value="Submit" />
	
					    <!-- Last Name: <input type="text" name="lname" id="lname" class="textinput" value="" /> -->
	
			<!--
					    HTML: <input type="radio" name="emailtype" value="html" checked="checked">
					    Text: <input type="radio" name="emailtype" value="text">
			-->
					</form>
					<div id="message" class="newsletter_form_error">
			</li>
		</ul>
				
		<script src="jquery.min.js" type="text/javascript"></script>
		{{ widgets:area slug="sidebar" }}
	</nav>
