.event_body{
	font-size:100%;
    line-height:18px;
}

.event_sidebar{
	background-color: #D8D8D8;
}

.event_date{
	padding:4% 0 0 0;
	float:left;
	width:30%;
	height:30%;
	display: inline-block;
	font-size:3.5em;
	font-weight: 500;
}

.event_title{
	width:70%;
	overflow: hidden;
	display: inline-block;
}

.event{
	max-height: 220px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
}






/* Generic browser */
@media only screen and (min-width: 1281px) {
	body{
		font-family: Impact;
	}

	.container {
		width: 1250px;
		/*FIXME width: 1000px;*/
		margin: auto;
	}
	header, #content, footer {
		width: 1200px;
	}
	
	header{
		height:auto;
		text-align: center;
		margin:0;
		padding-top: 0;
		background-color:#E5E4E3;
	}
	#event_site_logo{
		margin:0;
	}

	#event_site_logo a{
		font-family: Impact;
		font-size: 3em;
		color: #676679;
		margin:0;
	}
	#event_site_slogan{
		margin:0;
		color: #676679;
		font-family: Georgia;
		font-size: 1.7em;
	}
	.event_red_text{
		font-family: inherit;
		color: #C03D3C;
	}
	
	.event_left_menu{
			float:left;
			/*display:block;*/
	}
	
	.event_right_menu{
		margin:0;
		width: 200px;
		float:right;
	}
	
	.post{
		display:inline-block;
	}
	
/**
.info-tag{
	color:white;
	line-height: 2em;
	margin: 0.2%;
	padding: 0.5% 1% 0.5% 1%;
	border: 1px solid rgba(0, 0, 0, 0.8);
	display: inline;
	clear:both;
	
}
*/
/**
#info-tag-location{
	background-color: #df3b3b;	
}
#info-tag-language{
	background-color:#29d43d;
}
#info-tag-price{
	background-color:#1fd753;
}
#info-tag-organizer{
	background-color:#1b8cee;
}
#info-tag-address{
	background-color:#be1db9;
}
**/