{{ theme:partial name="header" }}
	
	<!--  
	{{ if { url:segments segment="1" } == '' AND theme:options:slider == 'yes' }}
		{{ theme:partial name="slider" }}
	{{ endif }} -->
	
	<!-- slogan 
	{{ if { url:segments segment="1" } == '' AND theme:options:slogan == 'yes' }}
		{{ theme:options:slogan }}
	{{ endif }}
	 slogan -->

	
	<!-- content -->
	<section id="content">
		{{ theme:partial name="breadcrumbs" }}
		{{ theme:partial name="aside" }}
		{{ template:body }}
	</section>
	<!-- /content -->

{{ theme:partial name="footer" }}